<!DOCTYPE html>
<html>
<head>
  <title>Jabarta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="joeyabarta.com">JoeyAbarta.com</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="http://www.tutorialrepublic.com" target="_blank">Home</a></li>
                <li><a href="#" target="_blank">About</a></li>
                <li><a href="#" target="_blank">Media</a></li>
                <li><a href="#" target="_blank">Schedule</a></li>
                <li><a href="#" target="_blank">Shop</a></li>
                <li><a href="#" target="_blank">Contact</a></li>                
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron">
    <div class="container-fluid">
        <h1>Learn Irish Folk music with Joey Abarta.</h1>
        <p>Learn the whistle, uillean pipes, or bodhran from the award winning grand master musician, Joey Abarta. He has been playing music for over 15 years, and wants to impart his vast knowledge of traditional irish folk music with you.</p>
        
        <p><a href="http://www.tutorialrepublic.com" target="_blank" class="btn btn-success btn-lg">Learn Now</a></p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <h2>Store</h2>
            <p>View the exclusive store for Joey Abarta. Buy a song a la carte, or the whole CD. Listen to some samples before you buy so you know you'll like it!</p>
            <p><a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
        </div>
        <div class="col-xs-4">
            <h2>Schedule</h2>
            <p>Check out Joey Abarta's schedule and his upcoming gigs.</p>
            <p><a href="http://www.tutorialrepublic.com/css-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
        </div>
        <div class="col-xs-4">
            <h2>About</h2>
            <p>Learn more about Joey Abarta and his background within Traditional Irish folk music.</p>
            <p><a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <footer>
                <p>&copy; Copyright 2015 JoeyAbarta.com</p>
            </footer>
        </div>
    </div>
</div>

</body>
</html>
